# Ignore temporary and cache data
temp
.sass-cache
.cache*
*~

node_modules
*.css.map
Resources/Public/Stylesheets/Build/
Resources/Public/Javascript/Build/

# Exclude "production" deployment
build/*

# IDE specific
.idea/