<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{form}">
    <div class="Tx-Form">
        <formvh:form
                object="{form}"
                action="{form.renderingOptions.controllerAction}"
                method="{form.renderingOptions.httpMethod}"
                id="{form.identifier}"
                section="{form.identifier}"
                enctype="{form.renderingOptions.httpEnctype}"
                addQueryString="{form.renderingOptions.addQueryString}"
                argumentsToBeExcludedFromQueryString="{form.renderingOptions.argumentsToBeExcludedFromQueryString}"
                additionalParams="{form.renderingOptions.additionalParams}"
        >
            <div class="row">
                <div class="large-6 columns">
                    <fieldset>
                        <legend><f:translate key="LLL:{form.formDefinition.renderingOptions.translation.translationFile.20}:form.newsletterSubscribeOneEmailField.label" /></legend>
                        <div class="row">
                            <f:render partial="{form.currentPage.templateName}" arguments="{page: form.currentPage}" />
                        </div>
                        <div class="row">
                            <f:render partial="Form/Navigation" arguments="{form: form}" />
                            <p><f:translate key="LLL:{form.formDefinition.renderingOptions.translation.translationFile.20}:form.newsletter.notice.mandatory" /></p>
                        </div>
                    </fieldset>
                </div>
            </div>
        </formvh:form>
    </div>
</formvh:renderRenderable>
</html>
